In [3]:
import os
import pandas as pd
from pathlib import Path

In [5]:
t7 = '/media/ak/T7'
futuresFolder = 'FuturesDataSemiProcessed'
futuresSemiProcessed = os.path.join(t7, futuresFolder)
symbols = os.listdir(futuresSemiProcessed)

testing a difficult symbol

In [7]:
symbolChoice = 'KE1'
symbolChoiceFolder = os.path.join(futuresSemiProcessed, symbolChoice)

In [9]:
dates =os.listdir(symbolChoiceFolder)

In [10]:
dateIdx = 10
dateIdxFileLoc = os.path.join(symbolChoiceFolder, dates[dateIdx])

In [16]:
unprocessed_dictionary = pd.read_pickle(dateIdxFileLoc)
keys = list(unprocessed_dictionary.keys())

In [17]:
processed_dictionary = unprocessed_dictionary[keys[0]]

In [19]:
processed_dictionary.keys()

dict_keys(['tick', 'volume', 'calendar', 'dollar'])

In [30]:
volume_df = processed_dictionary['volume']
tick_df = processed_dictionary['tick']
calendar_df = processed_dictionary['calendar']

In [23]:
# count the number of NaNs in each row
nan_counts = volume_df.isna().sum(axis=1)

# print the result
print(nan_counts)

volume_bucket
16.0      0
24.0      0
33.0      0
41.0      0
49.0      0
         ..
2258.0    0
2261.0    0
2262.0    0
2263.0    0
2316.0    0
Length: 3753, dtype: int64

In [31]:
# count the number of NaNs in each row
nan_counts = tick_df.isna().sum(axis=1)

# print the result
print(nan_counts)

tick_bucket
1.0     0
2.0     0
3.0     0
4.0     0
5.0     0
       ..
44.0    0
45.0    0
46.0    0
47.0    0
48.0    0
Length: 135, dtype: int64

In [33]:
calendar_df

,BidSize_open,BidSize_high,BidSize_low,BidSize_close,QuoteTime_open,QuoteTime_high,QuoteTime_low,QuoteTime_close,type_x_open,type_x_high,...,milliSeconds_low,milliSeconds_close,dollar_traded_volume_open,dollar_traded_volume_high,dollar_traded_volume_low,dollar_traded_volume_close,micro_price_open,micro_price_high,micro_price_low,micro_price_close
timeStampIdx,,,,,,,,,,,,,,,,,,,,,
2018-07-18 00:00:00,228.0,975.0,58.0,445.0,2018-07-18 00:00:00,2018-07-18 00:04:51,2018-07-18 00:00:00,2018-07-18 00:04:51,BID,BID,...,0.0,291000.0,90088.95,90088.95,1081.60,3244.80,108.157893,108.167922,108.150331,108.166373
2018-07-18 00:05:00,444.0,806.0,4.0,529.0,2018-07-18 00:05:01,2018-07-18 00:10:43,2018-07-18 00:05:01,2018-07-18 00:10:43,BID,BID,...,301000.0,643000.0,108.16,31693.81,108.16,540.80,108.166373,108.179969,108.160595,108.164580
2018-07-18 00:10:00,528.0,1008.0,1.0,227.0,2018-07-18 00:10:44,2018-07-18 00:14:55,2018-07-18 00:10:44,2018-07-18 00:14:55,BID,BID,...,644000.0,895000.0,108.16,5408.50,108.16,108.18,108.164579,108.179976,108.160034,108.178493
2018-07-18 00:15:00,258.0,1258.0,1.0,1253.0,2018-07-18 00:15:01,2018-07-18 00:19:55,2018-07-18 00:15:01,2018-07-18 00:19:55,BID,BID,...,901000.0,1195000.0,108.18,10707.84,108.17,540.75,108.178324,108.178978,108.150756,108.152599
2018-07-18 00:20:00,1167.0,2300.0,1141.0,1282.0,2018-07-18 00:20:02,2018-07-18 00:25:00,2018-07-18 00:20:02,2018-07-18 00:25:00,BID,BID,...,1202000.0,1500000.0,21632.00,21632.00,108.15,108.15,108.151688,108.154123,108.151410,108.152944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-05-02 23:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-02 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-02 23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-02 23:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-03 00:00:00,793.0,793.0,793.0,793.0,2018-05-03 00:00:00,2018-05-03 00:00:00,2018-05-03 00:00:00,2018-05-03 00:00:00,BID,BID,...,0.0,0.0,120397.42,120397.42,120397.42,120397.42,107.694303,107.694303,107.694303,107.694303

In [34]:
# count the number of NaNs in each row
nan_counts = calendar_df.isna().sum(axis=1)

# print the result
print(nan_counts)

timeStampIdx
2018-07-18 00:00:00     0
2018-07-18 00:05:00     0
2018-07-18 00:10:00     0
2018-07-18 00:15:00     0
2018-07-18 00:20:00     0
                       ..
2018-05-02 23:40:00    72
2018-05-02 23:45:00    72
2018-05-02 23:50:00    72
2018-05-02 23:55:00    72
2018-05-03 00:00:00     0
Length: 867, dtype: int64