In [1]:
import multiprocessing.pool
from datetime import datetime
import pandas as pd
import os
import numpy as np
from functools import partial
import dask.dataframe as dd
import dask.multiprocessing
LOB = pd.DataFrame()
import datetime
import os
import dask.dataframe as dd
from pathlib import Path

In [3]:
# laCie = '/media/ak/LaCie/'
data1 = '/media/ak/Data2/'
# trades_quotes_folder = os.path.join(data1, 'Trades and Quotes Purchased July 2020/')
trades_quotes_folder = os.path.join(data1, 'TradesPurchased')
processed_sampled_data = os.path.join(data1, 'ProcessedSampledData/')
symbols = os.listdir(trades_quotes_folder)
symbol = 'JNI'
symbol_trades_quotes_folder = os.path.join(trades_quotes_folder, symbol, 'CSV')
write_data_folder = os.path.join(trades_quotes_folder,'tmp')
#symbols

In [4]:


def write_to_csv_for_symbol(file_loc, write_data_folder):

    ## Get symbol name:
    symbol = file_loc.split('/')[-1].split('.')[0]

    ## Need to use dask delayed if this doesn't work
    ddf = dd.read_csv(file_loc, assume_missing=True)


    quotes_ddf = ddf[ddf.Type == 'Quote']
    trades_ddf = ddf[ddf.Type == 'Trade']
    write_to_csv_for_dates(quotes_ddf, suffix='quotes', cols_to_drop=['Price', 'Volume', 'Type'], output_data_folder=write_data_folder)
    write_to_csv_for_dates(trades_ddf, suffix='trades', cols_to_drop=['Type', 'Bid Price','Bid Size','Ask Price','Ask Size'], output_data_folder=write_data_folder)
    
def write_to_csv_for_dates(ddf, suffix, cols_to_drop, output_data_folder):
    ddf_dates = sorted(ddf['Date'].unique().compute())

    for d in ddf_dates:
        date = datetime.datetime.strptime(d, '%m/%d/%Y').date()
        quotes_for_date_ddf = ddf[ddf.Date == d].drop(cols_to_drop, axis=1)
        write_file_dir = os.path.join(output_data_folder, f"{symbol}_{suffix}")
        Path(write_file_dir).mkdir(parents=True, exist_ok=True)
        write_file_loc = os.path.join(write_file_dir, f"{datetime.datetime.strftime(date, '%Y%m%d')}.csv")
        dd.to_csv(quotes_for_date_ddf, write_file_loc, single_file=True)

In [5]:
# write_data_folder = '/tmp/dask_data_tmp'

In [6]:
# symbol_files = sorted(os.listdir(symbol_trades_quotes_folder))
# symbol_files

In [7]:
fileidx = 0
idx_symbol_file = os.path.join(symbol_trades_quotes_folder, symbol_files[fileidx])
print(idx_symbol_file)

NameError: name 'symbol_files' is not defined

In [8]:
# write_data_folder = '/tmp/dask_data_tmp'
# file_loc = '/tmp/dask_tmp/CLK2027.csv.gz'
# write_to_csv_for_symbol(file_loc, write_data_folder)

In [9]:
write_to_csv_for_symbol(idx_symbol_file, write_data_folder)

NameError: name 'idx_symbol_file' is not defined

In [33]:
# df = pd.read_csv(idx_symbol_file)
## Need to use dask delayed if this doesn't work

ddf = dd.read_csv(idx_symbol_file, assume_missing=True)

,Date,Time,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size
0,05/07/2019,07:09:09.933984,Quote,NaN,NaN,21750.0,6.0,22100.0,10.0
1,05/07/2019,08:00:04.081904,Quote,NaN,NaN,21950.0,1.0,21950.0,1.0
2,05/07/2019,08:29:41.675066,Quote,NaN,NaN,22100.0,2.0,22100.0,11.0
3,05/07/2019,08:30:25.802367,Quote,NaN,NaN,21950.0,1.0,21950.0,1.0
4,05/07/2019,08:31:00.122136,Quote,NaN,NaN,21970.0,1.0,21970.0,1.0
5,05/07/2019,08:31:33.545788,Quote,NaN,NaN,21950.0,1.0,21950.0,1.0
6,05/07/2019,08:32:08.361696,Quote,NaN,NaN,21960.0,1.0,21960.0,1.0
7,05/07/2019,08:32:29.877615,Quote,NaN,NaN,21950.0,1.0,21950.0,1.0
8,05/07/2019,08:43:49.193337,Quote,NaN,NaN,21880.0,1.0,21880.0,1.0
9,05/07/2019,08:43:51.793495,Quote,NaN,NaN,21950.0,1.0,21950.0,1.0

In [32]:
## debugging function

In [6]:
### conversion of Dates

In [26]:
inputDates = df.Date
date_time_str = inputDates[1]
date_time_str

'07/19/2019'

In [28]:
new_date_time = datetime.strptime(date_time_str, "%m/%d/%Y").strftime("%Y%m%d")

In [29]:
new_date_time

'20190719'

In [30]:
df_per_date = df[df['Date'] == date_time_str]

In [29]:
# df

In [13]:
#qt_tmp_df['TradeTime'] = pd.to_datetime(qt_tmp_df.time).values
time_obj =pd.to_datetime(df_per_date.Time)

In [16]:
type(time_obj)

pandas.core.series.Series

In [78]:
# qt_tmp_df['TradeTime'] = pd.to_datetime(qt_tmp_df.time).values
# dfc['Time_of_Sail'] = pd.to_datetime(dfc['Time_of_Sail'],format= '%H:%M:%S' ).dt.time

In [18]:
df_per_date['TradeTime']  = pd.to_datetime(df_per_date.Time).dt.time

/home/ak/anaconda3/envs/newTimeSeries/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
# df_per_date['Date'] = datetime.strptime(df_per_date.Date, "%d/%m/%Y").strftime("%Y%m%d")

In [19]:
bidPrice = df_per_date.filter(like = '-BidPrice')
bidSize = df_per_date.filter(like = '-BidSize')

In [20]:
bidPrice['L1-BidPrice']

0        127.33
1        127.33
2        127.33
3        127.33
4        127.33
          ...
64032    127.30
64033    127.30
64034    126.42
64035       NaN
64036       NaN
Name: L1-BidPrice, Length: 64037, dtype: float64

In [21]:
LOB['BidPrice'] =(bidSize*bidPrice.values).sum(axis=1)/bidSize.sum(axis=1)
LOB['AskPrice'] =(df_per_date.filter(like = '-AskSize')*df_per_date.filter(like = '-AskPrice').values).sum(axis=1)/df_per_date.filter(like = '-AskSize').sum(axis=1)
# to compute the appropriate size, we take the size at every level of the order book and we create the sume product using size and number of orders at that level of stack, this just creates a summary statistic of the size

In [22]:
df_per_date

,Date,Time,L1-BidPrice,L1-BidSize,L1-BuyNo,L1-AskPrice,L1-AskSize,L1-SellNo,L2-BidPrice,L2-BidSize,...,L9-AskPrice,L9-AskSize,L9-SellNo,L10-BidPrice,L10-BidSize,L10-BuyNo,L10-AskPrice,L10-AskSize,L10-SellNo,TradeTime
0,05/01/2019,08:00:00.169284,127.33,59.0,8.0,127.35,2.0,1.0,127.32,38.0,...,127.43,38.0,9.0,127.24,26.0,10.0,127.44,27.0,6.0,08:00:00.169284
1,05/01/2019,08:00:00.171387,127.33,59.0,8.0,127.35,7.0,2.0,127.32,41.0,...,127.43,41.0,10.0,127.24,29.0,11.0,127.44,30.0,7.0,08:00:00.171387
2,05/01/2019,08:00:00.178396,127.33,59.0,8.0,127.34,19.0,3.0,127.32,41.0,...,127.42,37.0,6.0,127.24,29.0,11.0,127.43,41.0,10.0,08:00:00.178396
3,05/01/2019,08:00:00.190400,127.33,59.0,8.0,127.34,19.0,4.0,127.32,41.0,...,127.42,37.0,6.0,127.24,29.0,11.0,127.43,41.0,10.0,08:00:00.190400
4,05/01/2019,08:00:00.205580,127.33,64.0,9.0,127.34,19.0,4.0,127.32,41.0,...,127.42,37.0,6.0,127.24,29.0,11.0,127.43,41.0,10.0,08:00:00.205580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64032,05/01/2019,18:00:00.128145,127.30,6.0,1.0,NaN,NaN,NaN,127.25,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18:00:00.128145
64033,05/01/2019,18:00:00.128145,127.30,6.0,1.0,NaN,NaN,NaN,126.42,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18:00:00.128145
64034,05/01/2019,18:00:00.128145,126.42,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18:00:00.128145
64035,05/01/2019,18:00:00.128145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18:00:00.128145
64036,05/01/2019,23:30:05.179559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23:30:05.179559

In [127]:
(df_per_date.filter(like = '-AskSize')*df_per_date.filter(like = '-SellNo').values).sum(axis=1)/df_per_date.filter(like = '-SellNo').sum(axis=1)

0        30.268293
1        32.450980
2        31.957447
3        31.687500
4        32.170213
           ...
64032          NaN
64033          NaN
64034          NaN
64035          NaN
64036          NaN
Length: 64037, dtype: float64

In [23]:


def write_to_csv_for_symbol(file_loc, write_data_folder):

    ## Get symbol name:
    symbol = file_loc.split('/')[-1].split('.')[0]

    ## Need to use dask delayed if this doesn't work
    ddf = dd.read_csv(file_loc, assume_missing=True)


    quotes_ddf = ddf[ddf.Type == 'Quote']
    trades_ddf = ddf[ddf.Type == 'Trade']
    write_to_csv_for_dates(quotes_ddf, suffix='quotes', cols_to_drop=['Price', 'Volume', 'Type'], output_data_folder=write_data_folder)
    write_to_csv_for_dates(trades_ddf, suffix='trades', cols_to_drop=['Type', 'Bid Price','Bid Size','Ask Price','Ask Size'], output_data_folder=write_data_folder)

In [24]:

# How to call this function?


# write_data_folder = '/tmp/dask_data_tmp'
# file_loc = '/tmp/dask_tmp/CLK2027.csv.gz'
# write_to_csv_for_symbol(file_loc, write_data_folder)

In [ ]:
# start = time.time()
# dask_df = dd.read_csv(file_loc, assume_missing=True)
# end = time.time()
# print("Read csv with dask: ",(end-start),"sec")