In [3]:
import pandas as pd
import numpy as np
import sys
import multiprocessing
import time
import os

In [5]:
t7 = '/media/ak/T7/August11th2022Experiments'
folders = os.listdir(t7)
returns = os.path.join(t7, 'Returns')
expOne = os.path.join(t7, 'ExperimentOne')
expTwo = os.path.join(t7, 'ExperimentTwo')
mfdfa_dfs = os.path.join(t7, 'mfdfaDataFrames')

In [13]:
symbols = os.listdir(returns)
symbolIdx = 2
symbolFolder = os.path.join(returns, symbols[symbolIdx])

In [21]:
symbolFiles = sorted(os.listdir(symbolFolder))
dates = sorted([f.split(".")[0] for f in symbolFiles])
dateIdx = 1
symbolDateIdxFileLoc = os.path.join(symbolFolder, symbolFiles[dateIdx])
print('Date:',  dates[dateIdx])

Date: 20180419

In [27]:
dict_all_clocks = pd.read_pickle(symbolDateIdxFileLoc)
clocks = list(dict_all_clocks.keys())

In [29]:
clockIdx = 1
print('clock type:', clocks[clockIdx])
pd.DataFrame(dict_all_clocks[clocks[clockIdx]])

clock type: tick

             0
1     0.000021
2     0.000022
3    -0.000006
4    -0.000003
5     0.000019
...        ...
3857 -0.000003
3858 -0.000039
3859 -0.000012
3860  0.000001
3861 -0.000010

[3861 rows x 1 columns]