In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
path = '/media/ak/My Passport/QuadAlpha/'
folder = os.listdir('/media/ak/My Passport/QuadAlpha/')

In [3]:
files =[f for f in folder if str('_results_DF') in f]

In [4]:
idx = 10
dflist =list()
for idx in range(0,100):
    filePath = os.path.join(path, files[idx])
    dflist.append(pd.read_pickle(filePath).T)

In [5]:
df_list =dflist
#[dflist[0].T, dflist[1].T, dflist[2].T, dflist[3].T, dflist[4].T]
# df_list = [df1, df2, df3, df4, ...] # your list of dataframes
df_concat = pd.concat([df.reset_index() for df in df_list])

# set the index again
df_concat.set_index(['start_point', 'end_point', 'window'], inplace=True)

In [10]:
df_T =(df_concat.T)

In [15]:
df_test =df_T.iloc[:, [0,1,3]]

In [16]:
# Creating the new columns MultiIndex
df_test.columns = pd.MultiIndex.from_tuples(df_test.iloc[:4].T.values, names=df_test.iloc[:4].index)

# Dropping the rows that were used for the columns MultiIndex
df_test = df_test.iloc[4:]

# Resetting the index (optional)
df_test.reset_index(drop=True, inplace=True)

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [7]:
def remove_prefix(df, prefix):
    df.columns = df.columns.str.replace(prefix, '')
    return df

In [8]:
remove_prefix(df.T, 'results_129_')

NameError: name 'df' is not defined

In [14]:
prefix = '129'
remove_prefix(df.T, 'results_'+prefix+'_')

,,,,end_point,Kxx,Kxy,Kyy,XZ_test_alpha,XZ_test_h0_rejected,XZ_test_list_permuted_mmd2,XZ_test_pvalue,XZ_test_test_stat,YZ_test_alpha,...,mean_gram,med,perm_mmds1,powers,sig2,sim_mmds,var,var_gram,start_point,window
129,131,2,5,131,0.621694,0.661592,0.707465,0.05,True,-0.00246052,0,0.402598,0.05,...,0.00852653,0.443153,-0.00587285,0.486985,0.443153,-0.0030855,1.47563e-07,1.47563e-07,129,5

'(0, 2, 2, 35)'