In [1]:
import pandas as pd
import numpy as np
import os
from pandas.tseries.offsets import BDay
from hsmm_core.utils import mc_limiting_distribution, states_from_limit_dist
from hsmm_core.observation_models import ExpIndMixDiracGauss
from hsmm_core.feature_spaces import hmm_features
from hsmm_core.hsmm_runner import HmmCalibration

from hsmm_core.hmm import hmm_impl

from hsmm_core.data_utils import DataLoader, TradingHours
from hsmm_core.labelling import DataLabellingSimple
from hsmm_core.consts import ThresholdMethod, LabellingChoice
import pickle
from hsmm_core.consts import InitialisationMethod
import datetime as dt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier,  GradientBoostingClassifier
from sklearn.linear_model import RidgeClassifierCV
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
sc = StandardScaler()

In [28]:
def listdirs(folder): #return only directories from a master folder
    return [d for d in os.listdir(folder) if os.path.isdir(os.path.join(folder, d))]

def find_path(basepath, stringname):
    for fname in os.listdir(basepath):
        path = os.path.join(basepath, fname)
        if os.path.isdir(path):
            if stringname in fname:
                return path

In [29]:

data_dir = os.getenv('FINANCE_DATA') #main directory
# features_path = os.path.join(os.path.expanduser("~"), 'Data/features_models/features/') #where features are saved
# labels_path = os.path.join(os.path.expanduser("~"), 'Data/features_models/labels') #where labels are saved
# ticker_labels_path = os.path.join(labels_path, ticker + '/NON_DIRECTIONAL')

In [34]:
listdirs(data_dir)
rx_path = find_path(data_dir, 'RX1')
rx_files = os.listdir(find_path(data_dir, 'RX1'))
file_idx= 12
file_location = os.path.join(rx_path, rx_files[file_idx])

In [37]:
all_data_file =pd.read_csv(file_location,index_col=0)
trades = all_data_file[all_data_file['type']=='TRADE']

In [51]:
import datetime as dt
from dateutil.parser import parse

In [58]:
test=trades['time'][0]
datetime_test=parse(test)
x=datetime_test.time()

In [59]:
x

datetime.time(6, 1, 7, 515000)

In [61]:
x_tdelta = dt.timedelta(hours=x.hour, minutes=x.minute, seconds=x.second, microseconds=x.microsecond)

In [70]:
x_tdelta.total_seconds()

21667.515

In [73]:

trades.copy()

        size                     time   type   value
0        401  2018-07-30 06:01:07.515  TRADE  162.13
3          1  2018-07-30 06:01:07.515  TRADE  162.13
8          7  2018-07-30 06:01:07.527  TRADE  162.13
10        12  2018-07-30 06:01:07.527  TRADE  162.13
18         3  2018-07-30 06:01:07.527  TRADE  162.14
19         4  2018-07-30 06:01:07.527  TRADE  162.15
23         2  2018-07-30 06:01:07.527  TRADE  162.14
26         1  2018-07-30 06:01:07.527  TRADE  162.14
28         1  2018-07-30 06:01:07.529  TRADE  162.13
37         1  2018-07-30 06:01:07.557  TRADE  162.14
44         1  2018-07-30 06:01:07.561  TRADE  162.13
46         1  2018-07-30 06:01:07.561  TRADE  162.14
49         4  2018-07-30 06:01:07.564  TRADE  162.14
52         2  2018-07-30 06:01:07.573  TRADE  162.14
55         5  2018-07-30 06:01:07.646  TRADE  162.14
56         8  2018-07-30 06:01:07.646  TRADE  162.15
57         2  2018-07-30 06:01:07.646  TRADE  162.16
65         1  2018-07-30 06:01:07.681  TRADE  162.14
67         1  2018-07-30 06:01:07.714  TRADE  162.14
69         1  2018-07-30 06:01:07.716  TRADE  162.14
72        11  2018-07-30 06:01:07.746  TRADE  162.14
84         1  2018-07-30 06:01:07.803  TRADE  162.13
86         1  2018-07-30 06:01:07.830  TRADE  162.13
89         1  2018-07-30 06:01:07.850  TRADE  162.13
91         1  2018-07-30 06:01:07.873  TRADE  162.13
93         5  2018-07-30 06:01:07.895  TRADE  162.15
104        2  2018-07-30 06:01:08.061  TRADE  162.14
121        1  2018-07-30 06:01:08.062  TRADE  162.14
124        4  2018-07-30 06:01:08.063  TRADE  162.14
126        1  2018-07-30 06:01:08.081  TRADE  162.14
...      ...                      ...    ...     ...
953972     1  2018-07-30 19:58:17.403  TRADE  161.63
954020     2  2018-07-30 19:58:35.813  TRADE  161.62
954062     1  2018-07-30 19:58:53.813  TRADE  161.62
954065    26  2018-07-30 19:58:56.171  TRADE  161.62
954069     1  2018-07-30 19:58:57.012  TRADE  161.63
954072    19  2018-07-30 19:58:58.579  TRADE  161.62
954090     1  2018-07-30 19:58:59.857  TRADE  161.61
954092     1  2018-07-30 19:59:00.000  TRADE  161.62
954094    11  2018-07-30 19:59:00.000  TRADE  161.61
954098     1  2018-07-30 19:59:00.244  TRADE  161.61
954101     1  2018-07-30 19:59:10.915  TRADE  161.61
954126     2  2018-07-30 19:59:20.661  TRADE  161.61
954128    10  2018-07-30 19:59:21.000  TRADE  161.61
954130     1  2018-07-30 19:59:21.136  TRADE  161.61
954133     1  2018-07-30 19:59:23.647  TRADE  161.61
954140     8  2018-07-30 19:59:24.458  TRADE  161.61
954156     1  2018-07-30 19:59:30.997  TRADE  161.62
954158     3  2018-07-30 19:59:31.495  TRADE  161.62
954163     1  2018-07-30 19:59:44.273  TRADE  161.61
954177     4  2018-07-30 19:59:50.686  TRADE  161.62
954180     2  2018-07-30 19:59:50.686  TRADE  161.62
954183     1  2018-07-30 19:59:50.686  TRADE  161.62
954186     1  2018-07-30 19:59:50.686  TRADE  161.62
954189     1  2018-07-30 19:59:51.546  TRADE  161.61
954191     1  2018-07-30 19:59:52.947  TRADE  161.62
954196     3  2018-07-30 19:59:56.095  TRADE  161.62
954200     1  2018-07-30 19:59:56.224  TRADE  161.61
954203     6  2018-07-30 19:59:56.907  TRADE  161.62
954208     4  2018-07-30 19:59:57.186  TRADE  161.62
954223     7  2018-07-30 20:03:27.878  TRADE  161.61

[45615 rows x 4 columns]