In [36]:
import pandas as pd
import os 
import numpy as np
import dask.dataframe as dd
import dask.multiprocessing
dask.config.set(scheduler='processes')
import time

import dask.array as da
import dask.bag as db

In [2]:
CL = '/media/ak/Data1/TradesPurchased/CL'
CL_csv = sorted([f for f in os.listdir(CL) if str('.gz') not in f])
CL_file_idx = 1
file_loc = os.path.join(CL, CL_csv[CL_file_idx])

In [ ]:
ES = '/media/ak/Data1/TradesPurchased/ES'
CL_csv = sorted([f for f in os.listdir(CL) if str('.gz') not in f])
CL_file_idx = 1
file_loc = os.path.join(CL, CL_csv[CL_file_idx])

In [50]:
os.listdir('/media/ak/Data1/TradesPurchased')

['CL',
 'ES',
 'FGBL',
 'FLG',
 'FTSE',
 'JNI',
 'LOB',
 'STXE',
 'Trades & Quotes-07-15-2020 11_41_52.zip',
 'Trades & Quotes-07-15-2020 11_42_08.zip',
 'Trades & Quotes-07-15-2020 1_56_35.zip',
 'Trades & Quotes-07-15-2020 1_56_41.zip',
 'Trades & Quotes-07-15-2020 1_56_48.zip',
 'Trades & Quotes-07-15-2020 2_33_56.zip',
 'Trades & Quotes-07-15-2020 2_34_40.zip',
 'Trades & Quotes-07-15-2020 8_45_36.zip',
 'Trades & Quotes-07-17-2020 4_45_25.zip',
 'TY']

In [3]:
start = time.time()
dask_df = dd.read_csv(file_loc, assume_missing=True)
end = time.time()
print("Read csv with dask: ",(end-start),"sec")

Read csv with dask:  0.05813121795654297 sec

In [4]:
dask_df['Bid Price'].mean().compute()

56.22643352228743

In [5]:
dask_df.isnull().sum().compute()

Date                 0
Time                 0
Type                 0
Price        320926838
Volume       319739042
Bid Price      5172543
Bid Size       5172543
Ask Price      5172543
Ask Size       5172543
dtype: int64

In [15]:
dates = list(dask_df['Date'].values.compute())

In [7]:
dask_df['Ask Price'].values.compute()

array([62.34, 62.33, 62.33, ..., 61.46,   nan,   nan])

In [16]:
list_unique_dates = np.unique(dates)

In [40]:
df_quotes = dask_df[dask_df.Date == list_unique_dates[0] ].compute()

In [47]:
len(np.unique(df_quotes.Time))

405120

In [49]:
df_quotes.head(1000
              )

,Date,Time,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size
0,05/01/2019,00:00:05.546022,Quote,NaN,NaN,62.31,1.0,62.34,14.0
1,05/01/2019,00:00:24.258137,Quote,NaN,NaN,62.31,1.0,62.33,1.0
2,05/01/2019,00:00:24.262157,Quote,NaN,NaN,62.31,1.0,62.33,2.0
3,05/01/2019,00:00:24.262352,Quote,NaN,NaN,62.30,13.0,62.33,2.0
4,05/01/2019,00:00:24.262352,Quote,NaN,NaN,62.30,13.0,62.33,3.0
...,...,...,...,...,...,...,...,...,...
995,05/01/2019,00:21:14.295174,Quote,NaN,NaN,62.33,6.0,62.35,3.0
996,05/01/2019,00:21:14.299165,Quote,NaN,NaN,62.33,6.0,62.35,4.0
997,05/01/2019,00:21:14.303164,Quote,NaN,NaN,62.33,6.0,62.35,3.0
998,05/01/2019,00:21:14.307163,Quote,NaN,NaN,62.33,6.0,62.35,4.0
999,05/01/2019,00:21:14.311171,Quote,NaN,NaN,62.33,6.0,62.35,3.0

In [28]:
df_trades = dask_df[dask_df.Type == 'Trade' ].compute()

In [25]:
df_trades_non_NaN = df_trades[df_trades.Price != 'NaN']

In [35]:
df_trades[df_trades.Date == list_unique_dates[4]]

,Date,Time,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size
1093294,05/06/2019,00:02:52.239165,Trade,NaN,1.0,NaN,NaN,NaN,NaN
1093404,05/06/2019,00:03:13.634651,Trade,NaN,1.0,NaN,NaN,NaN,NaN
1093490,05/06/2019,00:05:18.727492,Trade,NaN,1.0,NaN,NaN,NaN,NaN
1093519,05/06/2019,00:05:19.315540,Trade,NaN,1.0,NaN,NaN,NaN,NaN
1096601,05/06/2019,00:31:30.533025,Trade,NaN,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1194961,05/06/2019,18:27:51.913642,Trade,NaN,1.0,NaN,NaN,NaN,NaN
1194962,05/06/2019,18:27:52.961693,Trade,NaN,1.0,NaN,NaN,NaN,NaN
1198976,05/06/2019,20:00:00.493930,Trade,NaN,3.0,NaN,NaN,NaN,NaN
1199023,05/06/2019,20:00:01.313984,Trade,NaN,2.0,NaN,NaN,NaN,NaN
1202308,05/06/2019,20:15:54.264485,Trade,NaN,1.0,NaN,NaN,NaN,NaN