In [1]:
import pandas as pd
import numpy as np
import os
import sys
import pickle as pkl
import fnmatch
import pickle
from multiprocessing import Pool, freeze_support, Manager
import itertools

In [5]:
semiProcessedFiles = '/media/ak/T7/FuturesDataSemiProcessed'
symbol ='FB1'
symbolFiles = os.path.join(semiProcessedFiles, symbol)

In [8]:
fileLoc = os.path.join( symbolFiles, os.listdir(symbolFiles)[1])

In [17]:
list(pd.read_pickle(fileLoc)['20180727']['tick'].columns)

['BidSize_open',
 'BidSize_high',
 'BidSize_low',
 'BidSize_close',
 'QuoteTime_open',
 'QuoteTime_high',
 'QuoteTime_low',
 'QuoteTime_close',
 'type_x_open',
 'type_x_high',
 'type_x_low',
 'type_x_close',
 'BestBid_open',
 'BestBid_high',
 'BestBid_low',
 'BestBid_close',
 'TradeTime_open',
 'TradeTime_high',
 'TradeTime_low',
 'TradeTime_close',
 'AskSize_open',
 'AskSize_high',
 'AskSize_low',
 'AskSize_close',
 'time_y_open',
 'time_y_high',
 'time_y_low',
 'time_y_close',
 'type_y_open',
 'type_y_high',
 'type_y_low',
 'type_y_close',
 'BestAsk_open',
 'BestAsk_high',
 'BestAsk_low',
 'BestAsk_close',
 'TradeSize_open',
 'TradeSize_high',
 'TradeSize_low',
 'TradeSize_close',
 'TradePrice_open',
 'TradePrice_high',
 'TradePrice_low',
 'TradePrice_close',
 'TimeStamp_open',
 'TimeStamp_high',
 'TimeStamp_low',
 'TimeStamp_close',
 'TradeVolume_open',
 'TradeVolume_high',
 'TradeVolume_low',
 'TradeVolume_close',
 'total_traded_volume_open',
 'total_traded_volume_high',
 'total_traded_volume_low',
 'total_traded_volume_close',
 'milliSeconds_open',
 'milliSeconds_high',
 'milliSeconds_low',
 'milliSeconds_close',
 'dollar_traded_volume_open',
 'dollar_traded_volume_high',
 'dollar_traded_volume_low',
 'dollar_traded_volume_close',
 'timeStampIdx_open',
 'timeStampIdx_high',
 'timeStampIdx_low',
 'timeStampIdx_close',
 'micro_price_open',
 'micro_price_high',
 'micro_price_low',
 'micro_price_close',
 'type_open',
 'type_high',
 'type_low',
 'type_close']

In [12]:
fileLoc

'/media/ak/T7/FuturesDataSemiProcessed/FB1/20180727.pkl'

In [2]:
lobPurchasedData = '/media/ak/LaCie/LOBDataPurhcased'
symbols = os.listdir(lobPurchasedData)

In [3]:
CO1_Comdty = os.path.join(lobPurchasedData, 'CO1_Comdty')

In [4]:
filesCO1 = os.listdir(CO1_Comdty)

In [5]:
testFile =os.path.join(CO1_Comdty, filesCO1[3])

In [6]:
pd.read_csv(testFile)

        Unnamed: 0  size                     time   type  value
0                0     7  2018-04-25 00:00:00.565    BID  73.97
1                1     1  2018-04-25 00:00:00.565    ASK  74.00
2                2     8  2018-04-25 00:00:00.597    BID  73.97
3                3     2  2018-04-25 00:00:00.678    BID  73.98
4                4     4  2018-04-25 00:00:00.938    BID  73.99
...            ...   ...                      ...    ...    ...
436128      436128     3  2018-04-26 00:00:00.945  TRADE  74.23
436129      436129     3  2018-04-26 00:00:00.930    BID  74.23
436130      436130     4  2018-04-26 00:00:00.930    ASK  74.25
436131      436131    61  2018-04-26 00:00:00.945    BID  74.22
436132      436132     2  2018-04-26 00:00:00.945    ASK  74.25

[436133 rows x 5 columns]

In [34]:
symbolIdx =3
print(symbols[symbolIdx])

JGB

In [48]:
tradequotefiles = '/media/ak/LaCie/Trades and Quotes Purchased July 2020'
symbolIdxFolderLoc = os.path.join(tradequotefiles, str(symbols[symbolIdx]))
symbolIdxFolderLoc

'/media/ak/LaCie/Trades and Quotes Purchased July 2020/JGB'

In [49]:
symbolIdxFiles = os.listdir(symbolIdxFolderLoc)
symbolIdxFiles

['JGBM2019.csv',
 'JGBM2020.csv',
 'JGBU2019.csv',
 'JGBU2020.csv',
 'JGBZ2019.csv',
 'JGBH2020.csv']

In [50]:
testFile = os.path.join(symbolIdxFolderLoc,symboIdxFiles[0] ) #quotes

In [51]:
pd.read_csv(testFile)

,Date,Time,L1-BidPrice,L1-BidSize,L1-BuyNo,L1-AskPrice,L1-AskSize,L1-SellNo,L2-BidPrice,L2-BidSize,...,L9-BuyNo,L9-AskPrice,L9-AskSize,L9-SellNo,L10-BidPrice,L10-BidSize,L10-BuyNo,L10-AskPrice,L10-AskSize,L10-SellNo
0,09/11/2019,12:52:22.336474,NaN,NaN,NaN,154.85,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,09/11/2019,12:52:22.337348,NaN,NaN,NaN,154.85,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09/11/2019,12:53:17.677267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09/11/2019,12:53:17.677267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09/13/2019,08:00:04.759047,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093565,03/13/2020,15:02:00.736425,152.66,344.0,NaN,152.66,349.0,NaN,152.65,10.0,...,NaN,153.55,5.0,NaN,152.42,10.0,NaN,153.68,5.0,NaN
4093566,03/13/2020,15:02:01.139752,152.66,339.0,NaN,152.66,349.0,NaN,152.65,10.0,...,NaN,153.55,5.0,NaN,152.42,10.0,NaN,153.68,5.0,NaN
4093567,03/13/2020,15:02:01.140457,152.66,339.0,NaN,152.66,349.0,NaN,152.65,10.0,...,NaN,153.55,5.0,NaN,152.42,10.0,NaN,153.68,5.0,NaN
4093568,03/13/2020,15:15:01.137283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4093569,03/13/2020,15:15:01.137283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
t7 ='/media/ak/T7'
experimentFiles = os.path.join(t7,'August11th2022Experiments')
mfdfaDataFrames = os.path.join(experimentFiles, 'ExperimentOne')

In [55]:
os.listdir(mfdfaDataFrames)

['G_1_15tick_mfdfa.pkl',
 'G_1_15dollar_mfdfa.pkl',
 'G_1_12tick_mfdfa.pkl',
 'G_1_12dollar_mfdfa.pkl',
 'G_1_15volume_mfdfa.pkl',
 'G_1_15calendar_mfdfa.pkl',
 'G_1_12calendar_mfdfa.pkl',
 'G_1_12volume_mfdfa.pkl',
 'G_1_18tick_mfdfa.pkl',
 'G_1_18dollar_mfdfa.pkl',
 'G_1_21tick_mfdfa.pkl',
 'G_1_21dollar_mfdfa.pkl',
 'G_1_14dollar_mfdfa.pkl',
 'G_1_14tick_mfdfa.pkl',
 'G_1_13tick_mfdfa.pkl',
 'G_1_13dollar_mfdfa.pkl',
 'G_1_19tick_mfdfa.pkl',
 'G_1_19dollar_mfdfa.pkl',
 'G_1_18calendar_mfdfa.pkl',
 'G_1_21volume_mfdfa.pkl',
 'G_1_18volume_mfdfa.pkl',
 'G_1_21calendar_mfdfa.pkl',
 'G_1_17dollar_mfdfa.pkl',
 'G_1_17tick_mfdfa.pkl',
 'G_1_16dollar_mfdfa.pkl',
 'G_1_16tick_mfdfa.pkl',
 'G_1_14calendar_mfdfa.pkl',
 'G_1_14volume_mfdfa.pkl',
 'G_1_20tick_mfdfa.pkl',
 'G_1_20dollar_mfdfa.pkl',
 'G_1_13volume_mfdfa.pkl',
 'G_1_13calendar_mfdfa.pkl',
 'G_1_19volume_mfdfa.pkl',
 'G_1_19calendar_mfdfa.pkl',
 'G_1_22dollar_mfdfa.pkl',
 'G_1_22tick_mfdfa.pkl',
 'G_1_17calendar_mfdfa.pkl',
 'G_1_23tick_mfdfa.pkl',
 'G_1_17volume_mfdfa.pkl',
 'G_1_23dollar_mfdfa.pkl',
 'G_1_24tick_mfdfa.pkl',
 'G_1_24dollar_mfdfa.pkl',
 'G_1_16calendar_mfdfa.pkl',
 'G_1_16volume_mfdfa.pkl',
 'G_1_26tick_mfdfa.pkl',
 'G_1_26dollar_mfdfa.pkl',
 'G_1_25tick_mfdfa.pkl',
 'G_1_25dollar_mfdfa.pkl',
 'G_1_28tick_mfdfa.pkl',
 'G_1_20volume_mfdfa.pkl',
 'G_1_28dollar_mfdfa.pkl',
 'G_1_20calendar_mfdfa.pkl',
 'G_1_24volume_mfdfa.pkl',
 'G_1_24calendar_mfdfa.pkl',
 'G_1_27tick_mfdfa.pkl',
 'G_1_27dollar_mfdfa.pkl',
 'G_1_22calendar_mfdfa.pkl',
 'G_1_22volume_mfdfa.pkl',
 'G_1_28volume_mfdfa.pkl',
 'G_1_28calendar_mfdfa.pkl',
 'G_1_26volume_mfdfa.pkl',
 'G_1_26calendar_mfdfa.pkl',
 'G_1_23volume_mfdfa.pkl',
 'G_1_23calendar_mfdfa.pkl',
 'G_1_25volume_mfdfa.pkl',
 'G_1_25calendar_mfdfa.pkl',
 'G_1_34tick_mfdfa.pkl',
 'G_1_34dollar_mfdfa.pkl',
 'G_1_32tick_mfdfa.pkl',
 'G_1_32dollar_mfdfa.pkl',
 'G_1_33tick_mfdfa.pkl',
 'G_1_33dollar_mfdfa.pkl',
 'G_1_27volume_mfdfa.pkl',
 'G_1_29tick_mfdfa.pkl',
 'G_1_27calendar_mfdfa.pkl',
 'G_1_29dollar_mfdfa.pkl',
 'G_1_31tick_mfdfa.pkl',
 'G_1_31dollar_mfdfa.pkl',
 'G_1_30tick_mfdfa.pkl',
 'G_1_30dollar_mfdfa.pkl',
 'G_1_34volume_mfdfa.pkl',
 'G_1_34calendar_mfdfa.pkl',
 'G_1_33volume_mfdfa.pkl',
 'G_1_33calendar_mfdfa.pkl',
 'G_1_32volume_mfdfa.pkl',
 'G_1_32calendar_mfdfa.pkl',
 'G_1_31calendar_mfdfa.pkl',
 'G_1_31volume_mfdfa.pkl',
 'G_1_29volume_mfdfa.pkl',
 'G_1_29calendar_mfdfa.pkl',
 'G_1_30volume_mfdfa.pkl',
 'G_1_30calendar_mfdfa.pkl',
 'LinearMMDOutputFiles',
 'QuadMMDOutputFiles']