In [7]:
import pandas as pd
import pickle
import os
import glob

In [2]:
inPath=  '/media/ak/My Passport/MarketData'
fileName = 'RON_SOYMEAL_TICK_3years-N52799351.csv'
outPath = '/media/ak/My Passport/MarketData'

In [3]:
chunkSize = 4000

In [13]:
# file location
inPathFileName = os.path.join(inPath, fileName)

In [14]:
reader = pd.read_csv(inPathFileName, chunksize= chunkSize, low_memory= False)

In [15]:
for i, chunk in enumerate(reader):
    outFile = os.path.join(outPath, "data_{}.pkl".format(i+1))
    with open(outFile, "wb") as f:
        pickle.dump(chunk,f, pickle.HIGHEST_PROTOCOL)

In [11]:
pickle_path =outPath

In [18]:
data_p_files=[]
for name in glob.glob(pickle_path + "/data_{}.pkl".format(i+1)):
    data_p_files.append(name)
df = pd.DataFrame([])
for i in range(len(data_p_files)):
    df = df.append(pd.read_pickle(data_p_files[i]), ignore_index=True)

In [19]:
df.head(5)

,#RIC,Date[G],Time[G],GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers
0,ZMc1,02-MAY-2010,21:15:00.164,-5,Quote,NaN,NaN,285.5,2.0,NaN,NaN,BBO[MKT_ST_IND]
1,ZMc1,02-MAY-2010,21:15:00.164,-5,Quote,NaN,NaN,NaN,NaN,308.5,1.0,BBO[MKT_ST_IND]
2,ZMc1,02-MAY-2010,21:18:35.068,-5,Quote,NaN,NaN,289.8,2.0,NaN,NaN,IND[MKT_ST_IND]
3,ZMc1,02-MAY-2010,21:18:35.068,-5,Quote,NaN,NaN,NaN,NaN,308.5,1.0,IND[MKT_ST_IND]
4,ZMc1,02-MAY-2010,22:46:32.644,-5,Quote,NaN,NaN,NaN,NaN,297.9,3.0,IND[MKT_ST_IND]

In [20]:
df.shape

(4000, 12)

In [21]:
df[df['Type']=='Trade'].head(5)

,#RIC,Date[G],Time[G],GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers
9,ZMc1,02-MAY-2010,23:00:01.161,-5,Trade,297.8,1.0,NaN,NaN,NaN,NaN,^[ACT_TP_1]; [HIGHTP_1]; [LOWTP_1];BBO[MKT_ST_...
10,ZMc1,02-MAY-2010,23:00:01.161,-5,Trade,297.8,1.0,NaN,NaN,NaN,NaN,^[ACT_TP_1];BBO[MKT_ST_IND]
11,ZMc1,02-MAY-2010,23:00:01.161,-5,Trade,297.8,1.0,NaN,NaN,NaN,NaN,^[ACT_TP_1];BBO[MKT_ST_IND]
13,ZMc1,02-MAY-2010,23:00:01.184,-5,Trade,297.8,1.0,NaN,NaN,NaN,NaN,^[ACT_TP_1];BBO[MKT_ST_IND]
15,ZMc1,02-MAY-2010,23:00:01.184,-5,Trade,297.7,NaN,NaN,NaN,NaN,NaN,A[ACT_TP_1];A[LOWTP_1];BBO[MKT_ST_IND];Low[USER]