In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import lob_for_futures as lobFut
from lob_for_futures import *
import os
import matplotlib.pyplot as plt

from dateutil.parser import parse
from pandas.tseries.offsets import BDay
import pickle as pkl
import fnmatch
import pickle
import datetime as dt
from datetime import timedelta
import glob
import fathon
from fathon import fathonUtils as fu
import itertools
import pyinform as pyinf
import pingouin as pig
from scipy.stats import entropy
from scipy.spatial.distance import jensenshannon
from scipy.special import kl_div
import time
import matplotlib.ticker as mtick
dataFolder = lobFut.dataFolder
quotes = [f for f in os.listdir(dataFolder) if str('_quotes') in f]
trades = [f for f in os.listdir(dataFolder) if str('_trades') in f]

# symbolIdx = 0

symbols = [f.split("_")[0] for f in quotes]

trades_cols = ['size', 'time', 'type', 'value']
experimentsDestination = '/media/ak/T7/MFDFA Experiments'
plt.style.use(os.path.join('/home/ak/.config/matplotlib','latexstyle.mplstyle'))

/home/ak/anaconda3/envs/mmd-kernels/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.4.0, the latest is 0.5.0.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs

In [2]:
informationClockFolder = '/media/ak/T7/FuturesDataSemiProcessed'
symbols

['VIX',
 'FB1',
 'TU1',
 'G',
 'RX1',
 'OE1',
 'TY1',
 'FV1',
 'JB1',
 'RX1',
 'DU1',
 'KE1',
 'US1',
 'YM1',
 'XM1',
 'VXX']

In [3]:
# from multiprocessing import Pool
# import pickle
# symbolFolderToStore = os.path.join(informationClockFolder, symbol)
# number_of_workers = 5

# # with Pool(number_of_workers) as p:
# with Pool(number_of_workers) as p:
#     print(p.map(produce_info_clock_files, intersectionDates))

In [2]:
# import glob
# symbolsReturnsDict =defaultdict(dict)
# symbolsDict = defaultdict(dict)

# for idx in range(0,16):
#     symbol = symbols[idx]
#     print(symbol)
#     for file in glob.iglob(informationClockFolder+'/'+symbol+'/*.pkl'):
#         print(file.split("/")[-1])
#         symbolsDict[symbol][(file.split("/")[-1].split(".")[0])] = file

In [39]:
symbolsReturnsDict

defaultdict(dict, {})

In [5]:
dataFolder = lobFut.dataFolder
quotes = [f for f in os.listdir(dataFolder) if str('_quotes') in f]
trades = [f for f in os.listdir(dataFolder) if str('_trades') in f]

In [10]:
quotesFileCh = os.path.join(dataFolder,'YM1_Comdty_quotes')
quotesDates = sorted([f.split(".csv")[0] for f in os.listdir(quotesFileCh)])

In [12]:
calendar_resample_freq = "300S"
trade_volume_width = 100
ticks_width = 100
usd_volume_width = 100

symbol = 'YM1'

testClass = DataLoader(data_location=dataFolder,
                       symbol=symbol,
                       dates=quotesDates[0:3],
                       use_columns=trades_cols,
                       calendar_resample=calendar_resample_freq,
                       trade_volume_width=trade_volume_width,
                       ticks_width=ticks_width,
                       usd_volume_width=usd_volume_width)

In [14]:
testClass.load_and_format_data()[str(quotesDates[0])]

2021-11-21 20:45:08,375 DataLoader  INFO Loading data for:20180413

/media/ak/WorkDrive/Data/YM1_Comdty_quotes/20180413.csv
/media/ak/WorkDrive/Data/YM1_Comdty_trades/20180413.csv

2021-11-21 20:45:09,004 DataLoader  INFO Loading data for:20180416
2021-11-21 20:45:09,100 DataLoader  INFO Loading data for:20180417

/media/ak/WorkDrive/Data/YM1_Comdty_quotes/20180416.csv
/media/ak/WorkDrive/Data/YM1_Comdty_trades/20180416.csv
/media/ak/WorkDrive/Data/YM1_Comdty_quotes/20180417.csv
/media/ak/WorkDrive/Data/YM1_Comdty_trades/20180417.csv

      BidSize            QuoteTime type_x  BestBid           TradeTime  AskSize               time_y type_y  BestAsk  TradeSize   type  TradePrice TimeStamp  TradeVolume  total_traded_volume  milliSeconds  dollar_traded_volume        timeStampIdx  micro_price
0          66  2018-04-13 06:45:00    BID   97.775 2018-04-13 06:45:00      816  2018-04-13 06:45:00    ASK    97.78        NaN    NaN         NaN  06:45:00          0.0                  0.0      24300000                 0.000 2018-04-13 06:45:00    97.779626
1          67  2018-04-13 06:45:00    BID   97.775 2018-04-13 06:45:00      816  2018-04-13 06:45:00    ASK    97.78        NaN    NaN         NaN  06:45:00          0.0                  0.0      24300000                 0.000 2018-04-13 06:45:00    97.779621
2         304  2018-04-13 06:45:00    BID   97.775 2018-04-13 06:45:00      816  2018-04-13 06:45:00    ASK    97.78        NaN    NaN         NaN  06:45:00          0.0                  0.0      24300000                 0.000 2018-04-13 06:45:00    97.778643
3         370  2018-04-13 06:45:00    BID   97.775 2018-04-13 06:45:00      816  2018-04-13 06:45:00    ASK    97.78        NaN    NaN         NaN  06:45:00          0.0                  0.0      24300000                 0.000 2018-04-13 06:45:00    97.778440
4         371  2018-04-13 06:45:00    BID   97.775 2018-04-13 06:45:00      816  2018-04-13 06:45:00    ASK    97.78        NaN    NaN         NaN  06:45:00          0.0                  0.0      24300000                 0.000 2018-04-13 06:45:00    97.778437
...       ...                  ...    ...      ...                 ...      ...                  ...    ...      ...        ...    ...         ...       ...          ...                  ...           ...                   ...                 ...          ...
8116      428  2018-04-15 23:59:55    BID   97.775 2018-04-15 23:59:55      926  2018-04-15 23:59:55    ASK    97.78       65.0  TRADE      97.775  23:59:55         65.0                 65.0      86395000              6355.375 2018-04-15 23:59:55    97.778419
8117      318  2018-04-15 23:59:56    BID   97.775 2018-04-15 23:59:56      926  2018-04-15 23:59:55    ASK    97.78       65.0  TRADE      97.775  23:59:56         65.0                 65.0      86396000              6355.375 2018-04-15 23:59:55    97.778722
8118      277  2018-04-15 23:59:57    BID   97.775 2018-04-15 23:59:57      926  2018-04-15 23:59:55    ASK    97.78       65.0  TRADE      97.775  23:59:57         65.0                 65.0      86397000              6355.375 2018-04-15 23:59:55    97.778849
8119      310  2018-04-15 23:59:57    BID   97.775 2018-04-15 23:59:57      926  2018-04-15 23:59:55    ASK    97.78       65.0  TRADE      97.775  23:59:57         65.0                 65.0      86397000              6355.375 2018-04-15 23:59:55    97.778746
8120      302  2018-04-16 00:00:00    BID   97.775 2018-04-16 00:00:00      911  2018-04-15 23:59:59    ASK    97.78       65.0  TRADE      97.775  00:00:00         65.0                 65.0             0              6355.375 2018-04-15 23:59:59    97.778755

[8121 rows x 19 columns]

In [17]:
symbolIdx = 15


symbol = sorted(symbols)[symbolIdx]
print(symbol)

YM1

In [19]:
dataFolder = lobFut.dataFolder
quotes = [f for f in os.listdir(dataFolder) if str('_quotes') in f]
trades = [f for f in os.listdir(dataFolder) if str('_trades') in f]

# symbolIdx = 0

symbols = [f.split("_")[0] for f in quotes]

from multiprocessing import Pool
import pickle

trades_cols = ['size', 'time', 'type', 'value']
experimentsDestination = '/media/ak/T7/MFDFA Experiments'
plt.style.use(os.path.join('/home/ak/.config/matplotlib', 'latexstyle.mplstyle'))
informationClockFolder = '/media/ak/T7/FuturesDataSemiProcessed'

In [26]:

symbolFolderToStore = os.path.join(informationClockFolder, symbol)
print(symbolFolderToStore)
number_of_workers = 5

quotesFileCh = os.path.join(dataFolder, 'G_1_Comdty_quotes')
tradesFileCh = os.path.join(dataFolder, str('G_1_Comdty_trades'))

# get common Dates
quotesDates = sorted([f.split(".csv")[0] for f in os.listdir(quotesFileCh)])
tradesDates = sorted([f.split(".csv")[0] for f in os.listdir(tradesFileCh)])
intersectionDates = list(set(quotesDates).intersection(tradesDates))

trades_cols = ['size', 'time', 'type', 'value']

# params for the clocks

calendar_resample_freq = "300S"
trade_volume_width = 100
ticks_width = 100
usd_volume_width = 100
dates_choice = intersectionDates

/media/ak/T7/FuturesDataSemiProcessed/YM1

In [27]:
trades

['G_1_Comdty_trades',
 'KE1_Comdty_trades',
 'RX1_Comdty_trades',
 'XM1_Comdty_trades',
 'JB1_Comdty_trades',
 'FB1_Comdty_trades',
 'TU1_Comdty_trades',
 'DU1_Comdty_trades',
 'VIX_Index_trades',
 'VXX_US_Equity_trades',
 'YM1_Comdty_trades',
 'FV1_Comdty_trades',
 'OE1_Comdty_trades',
 'TY1_Comdty_trades',
 'US1_Comdty_trades']

In [28]:
calendar_resample_freq = "300S"
trade_volume_width = 100
ticks_width = 100
usd_volume_width = 100

symbol = 'G_1'

testClass = DataLoader(data_location=dataFolder,
                       symbol=symbol,
                       dates=quotesDates[0:3],
                       use_columns=trades_cols,
                       calendar_resample=calendar_resample_freq,
                       trade_volume_width=trade_volume_width,
                       ticks_width=ticks_width,
                       usd_volume_width=usd_volume_width)

In [29]:
testClass.load_and_format_data()[str(quotesDates[0])]

2021-11-21 20:50:27,893 DataLoader  INFO Loading data for:20180416

/media/ak/WorkDrive/Data/G_1_Comdty_quotes/20180416.csv
/media/ak/WorkDrive/Data/G_1_Comdty_trades/20180416.csv

2021-11-21 20:50:28,749 DataLoader  INFO Loading data for:20180417

/media/ak/WorkDrive/Data/G_1_Comdty_quotes/20180417.csv
/media/ak/WorkDrive/Data/G_1_Comdty_trades/20180417.csv

2021-11-21 20:50:29,259 DataLoader  INFO Loading data for:20180418

/media/ak/WorkDrive/Data/G_1_Comdty_quotes/20180418.csv
/media/ak/WorkDrive/Data/G_1_Comdty_trades/20180418.csv

       BidSize                QuoteTime type_x  BestBid               TradeTime  AskSize                   time_y type_y  BestAsk  TradeSize   type  TradePrice        TimeStamp  TradeVolume  total_traded_volume  milliSeconds  dollar_traded_volume            timeStampIdx  micro_price
0           16  2018-04-16 07:00:00.265    BID   121.87 2018-04-16 07:00:00.265       28  2018-04-16 07:00:00.265    ASK   121.90         10  TRADE      121.87  07:00:00.265000           10                   10      25200000               1218.70 2018-04-16 07:00:00.265   121.889091
1           34  2018-04-16 07:00:00.274    BID   121.89 2018-04-16 07:00:00.274       33  2018-04-16 07:00:00.274    ASK   121.90          5  TRADE      121.89  07:00:00.274000            5                    5      25200000                609.45 2018-04-16 07:00:00.274   121.894925
2           37  2018-04-16 07:00:00.287    BID   121.89 2018-04-16 07:00:00.287       33  2018-04-16 07:00:00.274    ASK   121.90          5  TRADE      121.89  07:00:00.287000            5                    5      25200000                609.45 2018-04-16 07:00:00.274   121.894714
3           36  2018-04-16 07:00:00.344    BID   121.89 2018-04-16 07:00:00.344       33  2018-04-16 07:00:00.274    ASK   121.90          1  TRADE      121.89  07:00:00.344000            1                    1      25200000                121.89 2018-04-16 07:00:00.274   121.894783
4           37  2018-04-16 07:00:00.358    BID   121.89 2018-04-16 07:00:00.358       35  2018-04-16 07:00:00.358    ASK   121.90          1  TRADE      121.89  07:00:00.358000            1                    1      25200000                121.89 2018-04-16 07:00:00.358   121.894861
...        ...                      ...    ...      ...                     ...      ...                      ...    ...      ...        ...    ...         ...              ...          ...                  ...           ...                   ...                     ...          ...
48466        7  2018-04-16 16:59:52.676    BID   121.80 2018-04-16 16:59:52.676       11  2018-04-16 16:59:52.676    ASK   121.81          3  TRADE      121.80  16:59:52.676000            3                    3      61192000                365.40 2018-04-16 16:59:52.676   121.806111
48467        3  2018-04-16 16:59:57.947    BID   121.80 2018-04-16 16:59:57.947        2  2018-04-16 16:59:57.947    ASK   121.81          2  TRADE      121.80  16:59:57.947000            2                    2      61197000                243.60 2018-04-16 16:59:57.947   121.804000
48468        1  2018-04-16 17:00:00.000    BID   121.80 2018-04-16 17:00:00.000        1  2018-04-16 17:00:00.000    ASK   121.81          2  TRADE      121.80         17:00:00            2                    2      61200000                243.60 2018-04-16 17:00:00.000   121.805000
48469        1  2018-04-16 17:00:00.069    BID   121.80 2018-04-16 17:00:00.069        1  2018-04-16 17:00:00.000    ASK   121.81          2  TRADE      121.80  17:00:00.069000            2                    2      61200000                243.60 2018-04-16 17:00:00.000   121.805000
48470        1  2018-04-16 17:00:00.198    BID     0.00 2018-04-16 17:00:00.198        1  2018-04-16 17:00:00.198    ASK     0.00          2  TRADE      121.80  17:00:00.198000            2                    2      61200000                243.60 2018-04-16 17:00:00.198     0.000000

[48471 rows x 19 columns]